.animation-block {
  width: 250px;
  height: 50px;
  position: absolute;
  transform: rotate(90deg);
  overflow: hidden;

  @include mobile-width() {
    width: 150px;
    height: 30px;
  }

  &__animation {
    height: 100%;
    position: absolute;
    width: 0px;
    animation: movement 4s $speed forwards;
    @include dotted-background(text, transparent, 60%, 4px);
    @include themed(color, background);
    font-weight: 900;
    font-size: 40px;
    @include mobile-width() {
      animation: movement-small 4s $speed forwards;
      font-size: 30px;
    }
  }

  &::after {
    content: '';
    position: absolute;
    @include themed-border('top', 26px, solid, background);
    @include themed-border('bottom', 26px, solid, background);
    @include themed-border('left', 20px, solid, transparent);
    right: 0;
  }
}

@keyframes movement {
  0% {
    width: 0px;
    left: 0;
  }
  50% {
    width: 250px;
    right: 0;
  }
  100% {
    width: 0px;
    right: 0;
    display: none;
  }
}

@keyframes movement-small {
  0% {
    width: 0px;
    left: 0;
  }
  50% {
    width: 150px;
    right: 0;
  }
  100% {
    width: 0px;
    right: 0;
    display: none;
  }
}