// ANIMATIONS
$fast-animation: .2s;
$normal-animation: .5s;
$slow-animation: 1s;
$speed: cubic-bezier(0.95, 0.17, 0, 0.89);


// SPACING
$spacing-xxsmall: 5px;
$spacing-xsmall: 10px;
$spacing-small: 15px;
$spacing-regular: 20px;
$spacing-large: 30px;
$spacing-xlarge: 40px;
$spacing-xxlarge: 60px;
$section-container-width: 1000px;

// BORDER
$border-radius: 4px;

// MEDIA SIZES
$desktop-breakpoint: 1165px;
$tablet-breakpoint: 600px;