.title {
  font-size: 80px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  @include dotted-moved-background(secondary, transparent, 50%, 6px);

  &__sub-title {
    margin: 0;
    font-size: 40px;
    font-weight: 600;
    @include dotted-clip(primary, transparent, 70%, 3px);
  }

  @include mobile-width() {
    font-size: 55px;
    &__sub-title {
      font-size: 25px;
    }
  }
}
