.youtube {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &__billboard-container {
    display: flex;
    position: relative;
    &[data-animate="true"] {
      .youtube__billboard-right {
        animation: grow-right 2s forwards $speed;
      }
      .youtube__billboard-left {
        animation: grow-left 2s forwards $speed;
      }
    }

    @include tablet-width() {
      margin-top: $spacing-regular;
    }
  }

  &__billboard-right {
    .youtube__billboard-content {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 22px;
      text-align: center;
    }
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    min-width: 500px;
    height: 500px;
    border-radius: 50%;
    background-repeat: space;
    @include dotted-background(primary, transparent, 80%, $spacing-small);
  }

  &__header {
    @include themed(background-color, background);
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;

    .copyright {
      font-size: 40px;
    }
  }

  &__description-container {
    max-width: 500px;
    height: 100%;
  }

  &__description:first-of-type {
    margin-top: $spacing-xlarge;
  }

  .link {
    font-style: italic;
    @include themed(color, primary);  
  }
}

@mixin billboard-animation($billboard-size, $left-position, $font-size) {
  clip-path: polygon(#{$billboard-size / 2} 0px, $billboard-size #{$billboard-size / 2}, $billboard-size $billboard-size, #{$billboard-size / 2} $billboard-size, 0px #{$billboard-size / 2}, 0px 0px);
  @include dotted-background(primary, background, 80%, $spacing-small);


  &-content {
    @include themed(background-color, background);
    overflow: hidden;
    border-radius: $border-radius;
    padding: 5px;
    margin: 10px;
    width: #{$billboard-size / 2 - 20px};
    height: #{$billboard-size / 2 - 20px};
    font-weight: 700;
    font-size: $font-size;
  }

  &-left {
    min-width: 125px;
    min-height: 125px;
    position: absolute;
    bottom: 0;
    right: $left-position;
    @include dotted-background(secondary, background, 80%, $spacing-small);
  }


  @keyframes grow-right {
    0% {
      min-width: #{$billboard-size / 2};
      min-height: #{$billboard-size / 2};
    }

    100% {
      min-width: $billboard-size;
      min-height: $billboard-size;
    }
  }


  @keyframes grow-left {
    0% {
      min-width: #{$billboard-size / 2 - 100px};
      min-height: #{$billboard-size / 2 - 100px};
    }

    100% {
      min-width: #{$billboard-size - 100px};
      min-height:  #{$billboard-size - 100px};
    }
  }
}


.youtube__billboard {
  min-width: 250px;
  min-height: 250px;
  font-size: 50px;
  @include billboard-animation(500px, -160px, 22px);
  @include mobile-width {
    @include billboard-animation(350px, -80px, 15px);
  }
}