$concept-width: 125px;
$moving-border-width: 150px;

.whoami {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 800px;

  &__container {
    display: flex;
    width: 770px;
    flex-direction: column;
    margin-right: 20px;

    .title__sub-title {
      margin-bottom: $spacing-regular;
    }

    p:last-of-type {
      margin-bottom: $spacing-xlarge;
    }

    b {
      @include themed(color, primary);
    }

    @include tablet-width() {
      text-align: center;
      width: auto;

      .link {
        margin: 0 auto;
      }
    }


  }

  &__moving-border {
    width: 0px;
    max-height: 0px;
    position: relative;
    @include themed-borders(text);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 15px 1px, 15px 1px, 1px 15px, 1px 15px;

    padding: 1px 0 1px 1px;
   
    &[data-animate="true"] {
      animation: initial-border-animation 1.5s $speed forwards, border-animation 1.5s 1.5s $speed infinite;

      @include tablet-width() {
        animation: initial-border-animation-small 1.5s $speed forwards, border-animation 1.5s 1.5s $speed infinite;
      }
    }
    animation-direction: alternate;

    &:hover {
      animation-duration: .5s;
    }

    @include tablet-width() {
      margin-top: 80px;
      background-size: 15px 1px, 15px 0px, 0px 15px, 0px 15px;
    }
  }

  &__concept {
    display: grid;
    place-items: center;
    position: absolute;
    width: $concept-width;
    height: $concept-width;
    border-radius: 50%;
    @include themed(color, background);
    @include dotted-background(primary, text, 70%, 4px);
    font-weight: 700;
    font-size: 25px;

    &--design {
      top: -#{$concept-width / 2};
      left: -#{$concept-width / 2};
    }

    &--coding {
      bottom: -#{$concept-width / 2};
      right: -#{$concept-width / 2};
    }
  }

  @include tablet-width() {
    margin-bottom: $spacing-large;
  }
}

@keyframes border-animation {
  0% {
    background-position: 0px 0px, 0px 100%, 0px 0px, $moving-border-width 0px;
  }
  100% {
    background-position: $moving-border-width 0px, $moving-border-width 100%, 0px $moving-border-width, $moving-border-width $moving-border-width;
  }
}


@keyframes initial-border-animation {
  0% {
    background-position: 0px 0px, 0px 100%, 0px 0px, 0px 0px;
  }
  100% {
    background-position: $moving-border-width 0px, $moving-border-width 100%, 0px $moving-border-width, $moving-border-width $moving-border-width;
    width: $moving-border-width;
    max-height: 500px
  }
}

@keyframes initial-border-animation-small {
  0% {
    background-position: 0px 0px, 0px 100%, 0px 0px, 0px 0px;
  }
  100% {
    background-position: $moving-border-width 0px, $moving-border-width 100%, 0px $moving-border-width, $moving-border-width $moving-border-width;
    width: calc(100% - #{$concept-width});
    max-height: 500px
  }
}
