.projects {
  flex-direction: column;

  &__box-container {
    margin-top: $spacing-large;
    display: flex;
    flex-wrap: wrap;

    @include tablet-width() {
      justify-content: center;
    }
  }
}