.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.sidebar {
  grid-area: sidebar;
}

.footer {
  grid-area: footer;
}

.app-container {
  display: grid;
  grid-gap: $spacing-xsmall;
  min-height: 100vh;
  grid-template-rows: auto;
  grid-template-columns: 4fr 1fr;
  grid-template-areas:
      "header header"
      "main main"
      "main main"
      "footer footer"
}
